<div class="container">
    <div class="stepbar">
        <div class="stepbar-row">
            <div class="stepbar-step col-xs-3"> 
                <div type="button" class="btn btn-success btn-circle">
                    1
                </div>
                <div type="button" class="btn btn-outline-success btn-success btn-circle" disabled>
                    2
                </div>
                <div type="button" class="btn btn-outline-success btn-success btn-circle" disabled>
                    3
                </div>
        </div>
    </div>
</div>
</div>