
.stepbar-step p {
    margin-top: 0px;
    color:#666;
}
.stepbar-row {
    display: block;
    width: 100%;
}
.stepbar {
    display: inline-flex;
    width: 100%;
    position: relative;
    text-align: center;

     .btn[attr-disabled]{
        color:#bbb;
    }

    &-step {
        display: inline-block;
        text-align: center;
        position: relative;
        width: 10%;
    }

    &::before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content:" ";
        width: 100%;
        height: 1px;
        background-color: #36C9A7;
        z-index: 0;
    }
}

.btn.disabled, .btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
}